/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-size: 1.3rem;
  font-family: var(--ff-monrope);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --ff-monrope: "Manrope", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
